@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70vh;
  position: relative;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logotype {
  font-size: 25px;
  color: #ff9000;
  text-transform: uppercase;
  font-weight: 800;
}

.menu ul li {
  position: relative;
  float: left;
}

.menu ul li a {
  font-size: 18px;
  padding: 20px;
  font-weight: 700;
  color: #1d1d1d;
  display: block;
}

.menu ul li a:hover {
  color: #ff9000;
}

#menu {
  display: none;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

.submenu {
  position: relative;
}

.submenu #cart-detail {
  display: none;
}

.submenu:hover #cart-detail {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #7777;
  padding: 20px;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
}

th,
td {
  color: #ffffff;
}

.delete {
  background-color: #ff9000;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.bg {
  position: absolute;
  width: 700px;
  top: 0;
  right: 0;
  z-index: -1;
}

.header-content container {
  display: flex;
  align-items: center;
}

.header-content {
  width: 50%;
  margin-right: 50px;
}

.header-content h1 {
  font-size: 55px;
  line-height: 65px;
  color: #1d1d1d;
  margin-bottom: 35px;
}

.header-content p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 45px;
}

.header-content span {
  color: #ffae00;
}

.btn-1 {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 25px;
  background-color: #ff9000;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
  background-color: #ef8700;
}

.header-img {
  width: 50%;
  text-align: right;
}

.header-img img {
  width: 650px;
}

.breakfast {
  padding: 50px 0;
}

h2 {
  font-size: 45px;
  line-height: 55px;
  color: #1d1d1d;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #5e5e5e;
  margin-bottom: 45px;
}

.breakfast-content {
  display: flex;
  justify-content: space-between;
}

.breakfast-1 {
  display: flex;
  align-items: center;
  background-color: #ff9000;
  padding: 10px;
  border-radius: 15px;
  width: 200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.breakfast-1 h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}

.breakfast-1 img {
  width: 50px;
  margin-right: 25px;
}

.info {
  padding: 100px 0;
  position: relative;
}

.bg-2 {
  position: absolute;
  width: 300px;
  z-index: -1;
  top: 50px;
}

.info-content {
  display: flex;
  align-items: center;
}

.info-img {
  width: 50%;
  text-align: left;
}

.info-img img {
  width: 450px;
  margin-left: -50px;
}

.info-txt {
  width: 70%;
}

/* https://www.youtube.com/watch?v=6fqxL6dhHiI 40:19 */
